body{
  margin: 0px;
  padding: 0px;
  background: #ccc;
}
nav{
  background: #fff;
  display: block;
  overflow: hidden;
  width: 100%;
}
nav .navbar-brand{
  float: left;
  margin: 5px 40px;
}
nav .navbar-brand img{
  height: 44px;
  width: 150px;
}
ul.navbar-list .active{
  background: #f0f0f0;
}
nav ul.navbar-list{
  list-style-type: none;
  margin: 0px;
  padding: 0px 0px 0px 20px;
  overflow: hidden;
  color: #424242;
}
nav ul.navbar-list li.item{
  float: left;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  cursor: pointer;
}
nav ul.navbar-list li.item:hover{
  color: #000;
}

.col-2,.col-1,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
  overflow: hidden !important;
  padding: 0px !important;
}
.navbar{
  height: 64px;
  background: #fff;
  overflow: hidden;
  width: 100%;
}
.navbar .user{
  height: 100%;
  width: 200px;
  margin-left: 66vw;
  overflow: hidden;
}
.navbar .user .user-img{
  float: left;
}
.navbar .user .user-img img{
  height: 44px;
  width: 44px;
  border-radius: 50%;
}
.navbar .user .user-name{
  padding: 10px;
  text-align: center;
  color: #888;
}
